<!-- <mat-card class="chat-view-container">
    <div *ngIf="errorMessage" class="error-message">
        <mat-icon inline>error</mat-icon>
        {{errorMessage}}
        <mat-icon class="close-icon" (click)="hideError()">close</mat-icon>
    </div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label> Chat message</mat-label>
        <span matPrefix>
            <mat-icon>person</mat-icon>
        </span>
        <input type="text" matInput [(ngModel)]="message" required />
        <button class="button-primary" matSuffix mat-raised-button mat-icon-button (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
    <app-conversation (onChatRoomChangeEvent)="onChatRoomChangeEvent($event)"></app-conversation>
</mat-card> -->
<p>chat-view works</p>