
.mat-toolbar.mat-primary {
  background: #242526;
  color: GRAY;
}

.toolbar-items-container {
  a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    color: gray;
  }
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: gray;
}
